/* Table CSS */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 26px;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* End Table CSS */


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


/* <a> tag CSS */

a{
  text-decoration: none;
  border-radius: 9px;
  color: white;
}

a.add-user{
    background-color: blue;
    padding: 0.5em 1em;
}
a.add-user:hover{
    background-color: rgb(55, 56, 121);
    padding: 0.5em 1em;
}

a.update{
    background-color: green;
    padding: 0.5em 1em;
}
a.update:hover{
    background-color: rgb(130, 204, 130);
    padding: 0.5em 1em;
}

a.delete{
    background-color: red;
    padding: 0.5em 1em;
}

a.delete:hover{
    background-color: rgb(211, 90, 90);
    padding: 0.5em 1em;
}

/* End <a> tag CSS */


/* Form CSS */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label, input {
    display: block;
}

label {
    margin-bottom: 5px;
}